body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  color: #333;
}

#productos-container, #carrito-container {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.imagen-producto {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  object-fit: cover; /* Ajusta el comportamiento de redimensionamiento */
}

#lista-carrito {
  list-style: none;
  padding: 0;
}

#lista-carrito li {
  margin-bottom: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#total {
  font-weight: bold;
}
